@import '../../app/globals.css'

.square {
    border border-solid h-[100px] w-[100px] p-0 mr-[-1px] mt-[-1px] text-center text-2xl float-left border-tokyo_green-500 text-tokyo_pink-500
}

.game {
    mx-auto flex flex-col text-tokyo_red-500
}

.game-board {
    flex justify-center flex-col
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}
